[submodule "crisp"]
	path = themes/crisp
	url = git@github.com:xbot/crisp-hexo-theme.git
[submodule "themes/blairos"]
	path = themes/blairos
	url = git@github.com:xbot/hexo-theme-blairos.git
[submodule "themes/blairos.origin"]
	path = themes/blairos.origin
	url = https://github.com/52binge/hexo-theme-blairos.git
