[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/mivinci/hugo-theme-minima.git
[submodule "themes/ivy"]
	path = themes/ivy
	url = https://github.com/yihui/hugo-ivy.git
