* {
	padding: 0;
	margin: 0;
} 
/* Basic Typography */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  	font-family: 'Bree Serif';
  	src: local('Bree Serif'), 
  		 local('BreeSerif-Regular'),
  		 url('../fonts/BreeSerif-Regular.ttf') format('truetype'),
  		 url('../fonts/BreeSerif-Regular.woff2') format('woff2');
}
@font-face {
  	font-family: 'FZBeiWeiKaiShu';
    src: url('../fonts/FZBeiWeiKaiShu.ttf') format('truetype');
}

html, body {
	font-size: 1em;
	line-height: 1.65em;
	font-family: "FZBeiWeiKaiShu", "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-weight: 300;
	color:#444;
}

html {
	height: 100%;
}
body {
	padding: 2em 2.5em 1em 20em;
}

/* Blocks */
header {
	border-right: 1px #eee solid;
	padding: 2em;
	position:fixed;
	top: 0;
	left: 0;
	height:100%;
	width:13.5em;
}
#content {
	display: block;
	width: 100%;
}
footer {
	padding: 1em 0em 2.5em 0em;
	font-size:0.8em;
	line-height: 1.5em;
	color: #888;
}
article {
	border-bottom: 0.1em #eee solid;
	padding-bottom: 1.7em;
}
p, hr, h4, h5, h6 {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "FZBeiWeiKaiShu", "Bree Serif", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", serif;
	font-weight: 400 !important;
}
h1 {
	font-size: 2.5em;
	line-height: 1.1em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
h2 {
	font-size:1.9em;
	line-height: 1.2em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;	
}
h3 {
	font-size:1.4em;
	line-height: 1.3em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;	
}
h4 {
	font-size:1.3em;
}
h5 {
	font-size:1.2em;
}
h6 {
	font-size:1.1em;
}

.post h2, .post h3, .post h4, .post h5, .post h6, .post p, .post li {
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}


/* Page Elements */
img, iframe {
	max-width: 100%;
}
a {
	font-weight:700;
	text-decoration:none;
    color: #586e75;
}
a:hover {
	text-decoration:underline;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight:400 !important;
}
strong {
	font-weight: 700;
}
blockquote {
	border-left: 0.4em solid #eee;
	padding-left: 1.2em;
	font-size: 1em;
}
hr{
 	border: 0;
	height: 1px;
	background: #eee;
}
ul, ol {
	margin-left: 3em; 
}
/* code { */
	/* [>for code highlighting <] */
	/* font-size:1em; */
	/* background: #eee; */
/* } */
/* pre { */
	/* font-size: 0.8em; */
	/* line-height: 2em; */
	/* background: #eee; */
	/* padding: 1em; */
	/* word-break: break-all; */
	/* word-wrap: break-word; */
	/* white-space: pre; */
	/* white-space: -moz-pre-wrap; */
	/* white-space: pre-wrap; */
	/* white-space: pre\9;  */
/* } */
input {
	font-size:1em;
	padding: 0.3em;
}
/* Sidebar */
header h1 {
	font-size:1.9em;
	margin-top:0.8em;
	margin-bottom:0.6em;
}
header h1 a {
	color:#444;
}  
header h1 a:hover {
	text-decoration:none;
}
header #logo img {
	width:9em;
	height:9em;
	border-radius:4.5em;
	-moz-border-radius: 4.5em;
	-webkit-border-radius: 4.5em;
	border: none;
}
#follow-icons {
	font-size: 0.7em;
	margin-top: -0.7em;
	margin-bottom: 1.5em;
}
#follow-icons a {
	color: #ccc;
}	
#follow-icons span {
	vertical-align:top;
	margin-left:-0.15em;
	margin-right:-0.15em;
}
#follow-icons span .fa-stack-1x {
	font-size:1.05em;
	line-height:1.9em;
}
header h6 {
	margin-top:0.5em;
}
/* Posts */
article span.post-stamp {
	color:#888;     
}
h1.post-title {
	margin-top:0.35em;
	margin-bottom: 0.6em;
}
h3.post-title {
	margin-top:0.4em;
	padding-bottom:0.9em;
	border-bottom: 1px solid #eee;
	font-size: 1.2em;
	color: #444;
}
.post-title .feature-star {
	font-size: 0.9em;
}
.separator, .taglist, .feature-star {
	color: #ccc;
}
.taglist a {
	background-color:#ccc;
	color:#fff;
	padding:0.3em 0.6em 0.3em 0.6em;
	vertical-align:10%;  
	font-size:0.5em;
	font-family: "Open Sans", sans-serif;
	font-weight: 700 !important;
	text-transform:uppercase;
	letter-spacing:0.05em;
	border-radius:0.25em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
}
#social-bar {
	margin-top:1.5em;
	background-color:#eee;
	padding:0.5em;
}
#comments {
	margin-top: 0.15em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #eee;
}
/* Footer */
.pagination {
	margin-bottom:1em;
}
footer a {
	font-weight:300;
	color:#888;
	text-decoration: underline;
} 
footer a:hover {
	color:#444;
	text-decoration: none;
}
/* Large Screens */
@media only screen and (min-width: 1281px) {
	html, body {
		font-size: 1.1em;
	} 
}
/* Small Screens */
@media only screen and (max-width: 800px) { 
	body {
		padding:0;
	}
	header {
		border-right: none;
		border-bottom: 1px #eee solid;
		position:relative;
		height:auto;
		width:auto;
		text-align:center;
		padding-bottom:1em;
	}
	#content {
		margin-left: 0;
		padding: 2em 2em 1em 2em;
		width: auto;
	}
	footer {
		padding: 0 2.5em 2em 2.5em;
	}
}
/* Tiny Screens */
@media only screen and (max-width: 320px) { 
	header {
		padding: 1.2em 1.2em 0.6em 1.2em;
	}
	#content {
		padding: 1.2em 1.2em 0.6em 1.2em;
	}
	footer {
		padding: 0 1.5em 1.2em 1.5em;
	}
	ul, ol {
		margin-left: 2em; 
	}
}


/* .article-entry pre, */
/* .article-entry .highlight { */
  /* background: #2d2d2d; */
  /* margin: 0 10px; */
  /* padding: 15px 20px; */
  /* border-style: solid; */
  /* border-color: #ddd; */
  /* border-width: 1px 0; */
  /* -webkit-border-radius: 3px; */
  /* border-radius: 3px; */
  /* overflow: auto; */
  /* color: #ccc; */
  /* line-height: 24px; */
/* } */
/* .article-entry .highlight .gutter pre, */
/* .article-entry .gist .gist-file .gist-data .line-numbers { */
  /* color: #666; */
  /* font-size: 0.85em; */
/* } */
/* .article-entry pre, */
/* .article-entry code { */
  /* font-family: Consolas, Monaco, Menlo, Consolas, monospace; */
/* } */
/* .article-entry code { */
  /* text-shadow: 0 1px #fff; */
  /* padding: 0 0.3em; */
/* } */
/* .article-entry pre code { */
  /* background: none; */
  /* text-shadow: none; */
  /* padding: 0; */
/* } */
/* .article-entry .highlight pre { */
  /* border: none; */
  /* margin: 0; */
  /* padding: 0; */
/* } */
/* .article-entry .highlight table { */
  /* margin: 0; */
  /* width: auto; */
  /* border: 0px; */
/* } */
/* .article-entry .highlight td { */
  /* border: none; */
  /* padding: 0; */
/* } */
/* .article-entry .highlight figcaption { */
  /* font-size: 0.85em; */
  /* color: #999; */
  /* line-height: 1em; */
  /* margin-bottom: 1em; */
/* } */
/* .article-entry .highlight figcaption:before, */
/* .article-entry .highlight figcaption:after { */
  /* content: ""; */
  /* display: table; */
/* } */
/* .article-entry .highlight figcaption:after { */
  /* clear: both; */
/* } */
/* .article-entry .highlight figcaption a { */
  /* float: right; */
/* } */
/* .article-entry .highlight .gutter pre { */
  /* text-align: right; */
  /* padding-right: 20px; */
/* } */
/* .article-entry .highlight .line { */
  /* height: 24px; */
/* } */
/* .article-entry .gist { */
  /* margin: 0 -20px; */
  /* border-style: solid; */
  /* border-color: #ddd; */
  /* border-width: 1px 0; */
  /* background: #2d2d2d; */
  /* padding: 15px 20px 15px 0; */
/* } */
/* .article-entry .gist .gist-file { */
  /* border: none; */
  /* font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace; */
  /* margin: 0; */
/* } */
/* .article-entry .gist .gist-file .gist-data { */
  /* background: none; */
  /* border: none; */
/* } */
/* .article-entry .gist .gist-file .gist-data .line-numbers { */
  /* background: none; */
  /* border: none; */
  /* padding: 0 20px 0 0; */
/* } */
/* .article-entry .gist .gist-file .gist-data .line-data { */
  /* padding: 0 !important; */
/* } */
/* .article-entry .gist .gist-file .highlight { */
  /* margin: 0; */
  /* padding: 0; */
  /* border: none; */
/* } */
/* .article-entry .gist .gist-file .gist-meta { */
  /* background: #2d2d2d; */
  /* color: #999; */
  /* font: 0.85em "Apple LiGothic Medium", "Microsoft JhengHei"; */
  /* text-shadow: 0 0; */
  /* padding: 0; */
  /* margin-top: 1em; */
  /* margin-left: 20px; */
/* } */
/* .article-entry .gist .gist-file .gist-meta a { */
  /* color: #258fb8; */
  /* font-weight: normal; */
/* } */
/* .article-entry .gist .gist-file .gist-meta a:hover { */
  /* text-decoration: underline; */
/* } */
/* .article-entry table, th, td { */
    /* border: 1px solid grey; */
    /* border-spacing: 0px; */
    /* font-size: 0.9em; */
/* } */
/* .article-entry td { */
    /* padding: 0 0.3em; */
/* } */
/* pre .comment, */
/* pre .title { */
  /* color: #999; */
/* } */
/* pre .variable, */
/* pre .attribute, */
/* pre .tag, */
/* pre .regexp, */
/* pre .ruby .constant, */
/* pre .xml .tag .title, */
/* pre .xml .pi, */
/* pre .xml .doctype, */
/* pre .html .doctype, */
/* pre .css .id, */
/* pre .css .class, */
/* pre .css .pseudo { */
  /* color: #f2777a; */
/* } */
/* pre .number, */
/* pre .preprocessor, */
/* pre .built_in, */
/* pre .literal, */
/* pre .params, */
/* pre .constant { */
  /* color: #f99157; */
/* } */
/* pre .class, */
/* pre .ruby .class .title, */
/* pre .css .rules .attribute { */
  /* color: #9c9; */
/* } */
/* pre .string, */
/* pre .value, */
/* pre .inheritance, */
/* pre .header, */
/* pre .ruby .symbol, */
/* pre .xml .cdata { */
  /* color: #9c9; */
/* } */
/* pre .css .hexcolor { */
  /* color: #6cc; */
/* } */
/* pre .function, */
/* pre .python .decorator, */
/* pre .python .title, */
/* pre .ruby .function .title, */
/* pre .ruby .title .keyword, */
/* pre .perl .sub, */
/* pre .javascript .title, */
/* pre .coffeescript .title { */
  /* color: #69c; */
/* } */
/* pre .keyword, */
/* pre .javascript .function { */
  /* color: #c9c; */
/* } */

.archive-post-title {
    margin-top: 0em;
    margin-bottom: 0.3em;
}

.search-form-input {
    border: none;
    -webkit-appearance: none;
    font-size: 1.2em;
    width: 100%;
}
.search-form input::-webkit-search-decoration,
.search-form input::-webkit-search-results-button,
.search-form input::-webkit-search-results-decoration {
    display: none;
}

/* syntax highlight*/
figure.highlight,
.codeblock {
  background: #f7f8f8;
  margin: 10px 0;
  line-height: 1.1em;
  color: #333;
  overflow: hidden; }
  figure.highlight table,
  .codeblock table {
    display: block;
    width: 100%; }
  figure.highlight pre,
  figure.highlight .gutter,
  figure.highlight .code,
  figure.highlight .tag,
  .codeblock pre,
  .codeblock .gutter,
  .codeblock .code,
  .codeblock .tag {
    background-color: inherit;
    font-family: Menlo, Consolas, monospace;
    border: none;
    padding: 0;
    margin: 0;
    cursor: text; }
  figure.highlight .gutter,
  figure.highlight .code,
  .codeblock .gutter,
  .codeblock .code {
    vertical-align: top; }
  figure.highlight.plain .gutter,
  .codeblock.plain .gutter {
    display: none; }
  figure.highlight figcaption,
  .codeblock figcaption {
    font-size: 13px;
    padding: 0 15px 20px;
    margin: 0;
    background: #f7f8f8;
    color: #999999; }
    figure.highlight figcaption a,
    .codeblock figcaption a {
      float: right;
      color: #01579f; }
  figure.highlight .gutter,
  .codeblock .gutter {
    background: #f7f8f8;
    border-right: 1px solid #e6e6e6;
    padding: 0.3em 15px; }
    figure.highlight .gutter .line,
    .codeblock .gutter .line {
      color: #aaaaaa; }
  figure.highlight .code,
  .codeblock .code {
    padding: 0.3em 15px 0.3em 1em;
    width: 100%; }
    figure.highlight .code pre,
    .codeblock .code pre {
      /* max-width: 700px; */
      overflow-x: auto;
      overflow-y: hidden; }
  figure.highlight .line,
  .codeblock .line {
    height: 1.3em;
    font-size: 13px; }

.gist .line,
.gist .line-number {
  font-family: Menlo, Consolas, monospace;
  font-size: 1em;
  margin: 0 0 5px 0; }

.highlight .comment {
  color: #969896; }

.highlight .string {
  color: #183691; }

.highlight .keyword {
  color: #a71d5d; }

.highlight.apacheconf .code .common,
.highlight.apacheconf .code .nomarkup,
.highlight.apacheconf .code .attribute,
.highlight.apacheconf .code .variable,
.highlight.apacheconf .code .cbracket,
.highlight.apacheconf .code .keyword {
  color: #0086b3; }

.highlight.apacheconf .code .sqbracket {
  color: #df5000; }

.highlight.apacheconf .code .section,
.highlight.apacheconf .code .tag {
  color: #63a35c; }

.highlight.bash .code .shebang {
  color: #969896; }

.highlight.bash .code .literal,
.highlight.bash .code .built_in {
  color: #0086b3; }

.highlight.bash .code .variable {
  color: #333; }

.highlight.bash .code .title {
  color: #795da3; }

.highlight.coffeescript .code .title {
  color: #795da3; }

.highlight.coffeescript .code .literal,
.highlight.coffeescript .code .built_in,
.highlight.coffeescript .code .number {
  color: #0086b3; }

.highlight.coffeescript .code .reserved,
.highlight.coffeescript .code .attribute {
  color: #1d3e81; }

.highlight.coffeescript .code .subst,
.highlight.coffeescript .code .regexp,
.highlight.coffeescript .code .attribute {
  color: #df5000; }

.highlight.cpp .code .preprocessor,
.highlight.c .code .preprocessor {
  color: #df5000; }

.highlight.cpp .code .meta-keyword,
.highlight.c .code .meta-keyword {
  color: #a71d5d; }

.highlight.cpp .code .title,
.highlight.c .code .title {
  color: #795da3; }

.highlight.cpp .code .number,
.highlight.cpp .code .built_in,
.highlight.c .code .number,
.highlight.c .code .built_in {
  color: #0086b3; }

.highlight.cs .code .preprocessor,
.highlight.cs .code .preprocessor .keyword {
  color: #333; }

.highlight.cs .code .title {
  color: #795da3; }

.highlight.cs .code .number,
.highlight.cs .code .built_in {
  color: #0086b3; }

.highlight.cs .code .xmlDocTag,
.highlight.cs .code .doctag {
  color: #63a35c; }

.highlight.css .code .at_rule,
.highlight.css .code .important,
.highlight.css .code .meta {
  color: #a71d5d; }

.highlight.css .code .attribute,
.highlight.css .code .hexcolor,
.highlight.css .code .number,
.highlight.css .code .function {
  color: #0086b3; }

.highlight.css .code .attr_selector,
.highlight.css .code .value {
  color: #333; }

.highlight.css .code .id,
.highlight.css .code .class,
.highlight.css .code .pseudo,
.highlight.css .code .selector-pseudo {
  color: #795da3; }

.highlight.css .code .tag,
.highlight.css .code .selector-tag {
  color: #63a35c; }

.highlight.diff .code .chunk,
.highlight.diff .code .meta {
  color: #795da3;
  font-weight: bold; }

.highlight.diff .code .addition {
  color: #55a532;
  background-color: #eaffea; }

.highlight.diff .code .deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.highlight.http .code .attribute,
.highlight.http .code .attr {
  color: #183691; }

.highlight.http .code .literal {
  color: #0086b3; }

.highlight.http .code .request {
  color: #a71d5d; }

.highlight.ini .code .title,
.highlight.ini .code .section {
  color: #795da3; }

.highlight.ini .code .setting,
.highlight.ini .code .attr {
  color: #a71d5d; }

.highlight.ini .code .value,
.highlight.ini .code .keyword {
  color: #333; }

.highlight.java .code .title {
  color: #795da3; }

.highlight.java .code .javadoc {
  color: #969896; }

.highlight.java .code .meta,
.highlight.java .code .annotation,
.highlight.java .code .javadoctag {
  color: #a71d5d; }

.highlight.java .code .number {
  color: #0086b3; }

.highlight.java .code .params {
  color: #1d3e81; }

.highlight.js .code .built_in,
.highlight.js .code .title {
  color: #795da3; }

.highlight.js .code .javadoc {
  color: #969896; }

.highlight.js .code .tag,
.highlight.js .code .javadoctag {
  color: #a71d5d; }

.highlight.js .code .tag .title {
  color: #333; }

.highlight.js .code .regexp {
  color: #df5000; }

.highlight.js .code .literal,
.highlight.js .code .number {
  color: #0086b3; }

.highlight.json .code .attribute {
  color: #183691; }

.highlight.json .code .number,
.highlight.json .code .literal {
  color: #0086b3; }

.highlight.mak .code .constant {
  color: #333; }

.highlight.mak .code .title {
  color: #795da3; }

.highlight.mak .code .keyword,
.highlight.mak .code .meta-keyword {
  color: #0086b3; }

.highlight.md .code .value,
.highlight.md .code .link_label,
.highlight.md .code .strong,
.highlight.md .code .emphasis,
.highlight.md .code .blockquote,
.highlight.md .code .quote,
.highlight.md .code .section {
  color: #183691; }

.highlight.md .code .link_reference,
.highlight.md .code .symbol,
.highlight.md .code .code {
  color: #0086b3; }

.highlight.md .code .link_url,
.highlight.md .code .link {
  text-decoration: underline; }

.highlight.nginx .code .title,
.highlight.nginx .code .attribute {
  color: #a71d5d; }

.highlight.nginx .code .built_in,
.highlight.nginx .code .literal {
  color: #0086b3; }

.highlight.nginx .code .regexp {
  color: #183691; }

.highlight.nginx .code .variable {
  color: #333; }

.highlight.objectivec .code .preprocessor,
.highlight.objectivec .code .meta {
  color: #a71d5d; }
  .highlight.objectivec .code .preprocessor .title,
  .highlight.objectivec .code .meta .title {
    color: #df5000; }

.highlight.objectivec .code .meta-string {
  color: #183691; }

.highlight.objectivec .code .title {
  color: #795da3; }

.highlight.objectivec .code .literal,
.highlight.objectivec .code .number,
.highlight.objectivec .code .built_in {
  color: #0086b3; }

.highlight.perl .code .sub {
  color: #795da3; }

.highlight.perl .code .title {
  color: #795da3; }

.highlight.perl .code .regexp {
  color: #df5000; }

.highlight.php .code .phpdoc,
.highlight.php .code .doctag {
  color: #a71d5d; }

.highlight.php .code .regexp {
  color: #df5000; }

.highlight.php .code .literal,
.highlight.php .code .number {
  color: #0086b3; }

.highlight.php .code .title {
  color: #795da3; }

.highlight.python .code .decorator,
.highlight.python .code .title,
.highlight.python .code .meta {
  color: #795da3; }

.highlight.python .code .number {
  color: #0086b3; }

.highlight.ruby .code .parent,
.highlight.ruby .code .title {
  color: #795da3; }

.highlight.ruby .code .prompt,
.highlight.ruby .code .constant,
.highlight.ruby .code .number,
.highlight.ruby .code .subst .keyword,
.highlight.ruby .code .symbol {
  color: #0086b3; }

.highlight.sql .built_in {
  color: #a71d5d; }

.highlight.sql .number {
  color: #0086b3; }

.highlight.xml .tag {
  color: #333; }

.highlight.xml .value {
  color: #183691; }

.highlight.xml .attribute,
.highlight.xml .attr {
  color: #795da3; }

.highlight.xml .title,
.highlight.xml .name {
  color: #63a35c; }

.highlight.puppet .title {
  color: #795da3; }

.highlight.puppet .function {
  color: #0086b3; }

.highlight.puppet .name {
  color: #a71d5d; }

.highlight.puppet .attr {
  color: #0086b3; }

.highlight.less .tag,
.highlight.less .at_rule {
  color: #a71d5d; }

.highlight.less .number,
.highlight.less .hexcolor,
.highlight.less .function,
.highlight.less .attribute {
  color: #0086b3; }

.highlight.less .built_in {
  color: #df5000; }

.highlight.less .id,
.highlight.less .pseudo,
.highlight.less .class,
.highlight.less .selector-id,
.highlight.less .selector-class,
.highlight.less .selector-tag {
  color: #795da3; }

.highlight.scss .tag,
.highlight.scss .at_rule,
.highlight.scss .important {
  color: #a71d5d; }

.highlight.scss .number,
.highlight.scss .hexcolor,
.highlight.scss .function,
.highlight.scss .attribute {
  color: #0086b3; }

.highlight.scss .variable {
  color: #333; }

.highlight.scss .built_in {
  color: #df5000; }

.highlight.scss .id,
.highlight.scss .pseudo,
.highlight.scss .class,
.highlight.scss .preprocessor,
.highlight.scss .selector-class,
.highlight.scss .selector-id {
  color: #795da3; }

.highlight.scss .tag,
.highlight.scss .selector-tag {
  color: #63a35c; }

.highlight.stylus .at_rule {
  color: #a71d5d; }

.highlight.stylus .tag,
.highlight.stylus .selector-tag {
  color: #63a35c; }

.highlight.stylus .number,
.highlight.stylus .hexcolor,
.highlight.stylus .attribute,
.highlight.stylus .params {
  color: #0086b3; }

.highlight.stylus .class,
.highlight.stylus .id,
.highlight.stylus .pseudo,
.highlight.stylus .title,
.highlight.stylus .selector-id,
.highlight.stylus .selector-pseudo,
.highlight.stylus .selector-class {
  color: #795da3; }

.highlight.go .typename {
  color: #a71d5d; }

.highlight.go .built_in,
.highlight.go .constant {
  color: #0086b3; }

.highlight.swift .preprocessor {
  color: #a71d5d; }

.highlight.swift .title {
  color: #795da3; }

.highlight.swift .built_in,
.highlight.swift .number,
.highlight.swift .type {
  color: #0086b3; }

.highlight.yml .line,
.highlight.yml .attr {
  color: #63a35c; }

.highlight.yml .line,
.highlight.yml .string,
.highlight.yml .type,
.highlight.yml .literal,
.highlight.yml .meta {
  color: #183691; }

.highlight.yml .number {
  color: #0086b3; }

  .post .post-content p code {
      display: inline-block;
      margin: 0 5px;
      padding: 0 5px;
      background: #f7f8f8;
  }
